<template>
  <div class="home">
    <img alt="Zoom Trivia" src="@/assets/images/bg.jpg">
    <router-link class="button" to="/play">Play Trivia</router-link>
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {
    
  }
}
</script>

<style scoped>
  img{
    height: 100px;
    /* width: 100%; */
  }

  .home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
</style>
