<template>
  <div class="play">
    <div class="top-bar">
      <div class="timer">
        Timer: <span>{{counter}}</span>
      </div>
    </div>
    <Question :total="questions.length" @next="showNext" :class="{hide : currentQuestion != index}" v-for="(question,index) in questions" :index="index" :key="index" :question="question" />
  </div>
</template>

<script>
import Question from '@/components/Question';
import store from '@/store';
export default {
  name: 'Play',
  components: {
    Question
  },
  data: () => {
    return {
      questions: [],
      currentQuestion: 0,
      answers: [],
      counter: 10,
      routeFlag : true
    }
  },
  created: async function() {
    // load questions
    let res = await fetch('questions.json')
    let data = await res.json();
    this.questions = data;
    this.startCountdown();
  },
  methods : {
    showNext : async function (questionId,answer,index){
      let next = index + 1;
      // store answer
      this.answers.push({id:questionId,answer})
      if(next < this.questions.length){this.currentQuestion = next;}
      //test is done
      else if(next == this.questions.length){
        // submit answers to server
        this.submitAnswers();
      }
    },
    startCountdown : async function() {
      if(this.counter > 0){
        setTimeout(() => {
          this.counter--;
          this.startCountdown();
        },1000)
      }else{
        // end session
        if(this.routeFlag){
          this.submitAnswers();
        }
      }
    },
    submitAnswers: async function(){
      let res = await fetch('result.json')
      let result = await res.json();
      //  store response(trivia result) to state.result
      await store.dispatch('setResult',result);
      this.routeFlag = false;
      //route to the result
      this.$router.replace('/result')
      console.log("Test is done")
    }
  }
}
</script>

<style scoped>
.play{
  /* padding: 20px 100px; */
}
.timer{
  font-size: 2em;
}

.hide{
  display: none;
}
</style>