<template>
    <div id="result">
        <h1>{{result.message}}</h1>
        <a @click="backToHome" class="button">Back To Homepage</a>
    </div>
</template>

<script>
import store from '@/store';
import router from '@/router';
export default {
    name: "Result",
    data: function() {
        return {
            result : null
        }
    },
    created: function() {
        //read result from state
        this.result = store.state.result;
        console.log(this.result)
    },
    methods : {
        backToHome : function() {
            this.$router.replace('/')
        }
    },
    beforeRouteEnter(){
        if(!store.state.result){
            router.replace('/')
        }
    }
}
</script>

<style scoped>

</style>