<template>
  <router-view/>
</template>

<style>
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg,#a80d3d 35%,#79092c 55%)!important;
}
#app {
  text-align: center;
  color: #fff;
  height: 100%;
  padding: 20px 0px;
  max-width: 80%;
  margin: 0 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}

.button{
    background: #ffcb05;
    color: white;
    border: none;
    font-size: 2em;
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    display: inline-block;
  }

  .button:hover{
    transform: scale(1.018);
  }

  .button:focus{
    outline: none;
  }
</style>
